*{
    padding: 0;
    margin: 0;
}
body {
    width: 800px;
    margin: 0 auto;
    border-top: 10px solid rgb(8, 8, 151);
}
.midashi{
    font-size: 40px;
    text-align: center;
}
.logosyamei{
    display: flex;
}
.logo p{
    text-align: center;
}
.syamei{
    padding-top: 23px;
}
.title {
    font-size: 17px;
    margin: 0px;
    text-align: center;
    width: 400px;
}
.title-1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    width: 400px;
}
.title-2 {
    font-size: 15px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    width: 400px;
}
a {
    text-decoration: none;
    color: #333;
} 
header img {
    height: 120px;
    margin-top: 0px;
}
header ul {
    display: flex;
}
header ul li {
    width: 150px;
    min-width: 150px;
    font-size: 14px;
    list-style: none;
    text-align: center;
    border-right: 1px solid #ddd;
}
header ul li :first-child {
    border-left: 1px solid #ddd;
}
header ul li a {
    display: block;
}
header ul li a:hover {
    text-decoration:underline;
    color: blue;
    }
.shoukai h1 {
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 200;
    border-top: solid rgb(255, 121, 121) 2px;
    border-bottom: solid rgb(247, 107, 107) 2px;
}
h2 {
    text-align: center;
}
.gyoumu-soft {
    width: 600px;
    margin: 30px 0px 40px 2px;
    text-align: left;
    font-size: 16px;
    border-bottom: solid rgb(228, 32, 32);
}
.senju{
    display: flex;
}
.container-1{
    padding-top: 10px;
    padding-left: 100px;
}
.container-1 p {
    font-size: 13px;
}
footer {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(46, 43, 43);
    color: white;
    text-align: center;
    font-size: 12px;
    border-top: 5px solid rgb(8, 8, 151);
}